<%- include('./partials/_header.ejs') %>
    <h1>Change Password</h1>
    <form id="change-pass">
        <input type="password" autocomplete="off" id="password" name="password" placeholder="Password" />
        <input type="submit" value="Submit Form" />
    </form>
    <script>
        const form = document.getElementById('change-pass');
        form.addEventListener('submit', async (event) => {
            event.preventDefault(); // to prevent reloading of page
            const password = document.getElementById('password').value;
            const result = await fetch('/change-password', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    newpassword:password,
                    token: localStorage.getItem('token')
                })
            }).then((res) => res.json())

            if (result.status === 'ok') {
                alert('Success')
            } else {
                alert(result.error)
            }
        })
    </script>
    <%- include('./partials/_footer.ejs') %>